<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <form id="navForm" role="search" class="form-inline navbar-form">
      <div class='form-group input-group date' id='startDate'>
        <input type='text' class="form-control" name="start" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <div class='form-group input-group date' id='endDate'>
        <input type='text' class="form-control" name="end"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <button type="submit" class="btn btn-default">Filter</button>
    </form>
  </div>
</nav>
        
<script type="text/javascript">
  $(function () {
    $('#startDate').datetimepicker();
    $('#endDate').datetimepicker();
  });
  var allValues;
</script>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per request </h2>
      </div>
      <div class="row">
          <div id="reqChart"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per host </h2>
      </div>
      <div class="row">
          <div id="hostChart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per api </h2>
      </div>
      <div class="row">
          <div id="apiChart"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per function </h2>
      </div>
      <div class="row">
          <div id="serviceChart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2> All requests </h2>
    <div id="allChart">
    </div>
  </div>
</div>
<script>

var barChart = function(svgDiv, data, xLabel){
  $(svgDiv).empty()
  var svg = dimple.newSvg(svgDiv, 550, 500);
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,500,250);
  var x = chart.addCategoryAxis("x", "_id");
  var y1 = chart.addMeasureAxis("y", "avgTime");
  var bars = chart.addSeries("Average request time", dimple.plot.bar, [x,y1]);
  bars.barGap = 0.5;
  chart.draw();
  x.titleShape.text(xLabel);
}
var multiChart = function(svgDiv, data){
  $(svgDiv).empty()
  var svg = dimple.newSvg(svgDiv, 1200, 600);
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,1000,400);
  var x = chart.addCategoryAxis("x", "time");
  chart.addMeasureAxis("y", "timeElapsed");
  var y2 = chart.addMeasureAxis("y", "memoryUsed");
  var bars = chart.addSeries(["request","api","func","time","hostname","freeMemory","memoryUsed"], dimple.plot.bar);
  var lines = chart.addSeries("Memory Used", dimple.plot.line, [x,y2]);
  lines.lineMarkers = true;
  bars.barGap = 0.5;
  chart.addLegend(60, 5, 680, 10, "right", lines);
  chart.draw();
}

  barChart('#reqChart', {{{reqAgg}}}, "request id" );
  barChart('#hostChart', {{{host}}}, "host name");
  barChart('#apiChart', {{{api}}}, "api");
  barChart('#serviceChart', {{{service}}}, "service");
  allValues = {{{all}}};
  multiChart('#allChart', allValues);

  $( "#navForm" ).submit(function( event ) {
 
    event.preventDefault();
      
    var $form = $( this ),
    s = $form.find( "input[name='start']" ).val(),
    e = $form.find( "input[name='end']" ).val(),
    url = $form.attr( "action" );
		       
    var posting = $.post( url, { startDate: s, endDate:e } );
    posting.done(function( data ) {
      debugger;
      barChart('#reqChart', JSON.parse(data.reqAgg), "request id" );
      barChart('#hostChart', JSON.parse(data.host), "host name");
      barChart('#apiChart', JSON.parse(data.api), "api");
      barChart('#serviceChart', JSON.parse(data.service), "service");
      allValues = JSON.parse(data.all);
      multiChart('#allChart', allValues);
    });
  });

</script>
