<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">YALV</a>
     </div>
    <div id="navbar" class="navbar-collapse collapse">
    <form id="navForm" role="search" class="form-inline navbar-form">
      <div class="row">
      <div class='form-group input-group date' id='startDate'>
        <input type='text' class="form-control" name="start" placeholder="UTC Time"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <div class='form-group input-group date' id='endDate'>
        <input type='text' class="form-control" name="end" placeholder="UTC Time"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <input type="text" class="form-control" id="navSearch" placeholder="Search" />
      <input type="hidden" id="navSearchType" />
      <button type="submit" class="btn btn-default">Filter</button>
      </div>
      <div class="row">
      <ol class="breadcrumb" id="searchHistory">
      </ol>
      </div>
    </form>
    </div>
  </div>
</nav>
        
<script type="text/javascript">
  $(function () {
    $('#startDate').datetimepicker();
    $('#endDate').datetimepicker();
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per request </h2>
      </div>
      <div class="row">
          <div id="reqChart"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per host </h2>
      </div>
      <div class="row">
          <div id="hostChart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per api </h2>
      </div>
      <div class="row">
          <div id="apiChart"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <h2> Average response time per function </h2>
      </div>
      <div class="row">
          <div id="serviceChart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2> All requests </h2>
    <div id="allChart">
    </div>
  </div>
</div>
<script>

var barChart = function(svgDiv, data, xLabel){
  $(svgDiv).empty()
  if(data && data.length>0){
  var svg = dimple.newSvg(svgDiv);
  svg.attr("width", "100%").attr("height","500px");
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,500,250);
  var x = chart.addCategoryAxis("x", "_id");
  var y1 = chart.addMeasureAxis("y", "avgTime");
  var bars = chart.addSeries("Average request time", dimple.plot.bar, [x,y1]);
  bars.barGap = 0.5;
  chart.draw();
  x.titleShape.text(xLabel);
  }else{
    $(svgDiv).append('<h4> No Data Available </h4>');
  }
}
var multiChart = function(svgDiv, data){
  $(svgDiv).empty()
  if(data && data.length>0){
  var svg = dimple.newSvg(svgDiv);
  svg.attr("width", "100%").attr("height","800px");
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,100,1000,500);
  var x = chart.addTimeAxis("x", "time","%Y-%m-%dT%H:%M:%S.%LZ");
  chart.addMeasureAxis("y", "timeElapsed");
  var bars = chart.addSeries(["request","api","func","time","hostname","freeMemory","memoryUsed","loadAverage","uptime"], dimple.plot.bubble);
  chart.draw();
  }else{
    $(svgDiv).append('<h4> No Data Available </h4>');
  }
}

var autoComplete = function(data){
  $( "#navSearch" ).autocomplete({
    source: data,
    select: function(event, ui){
      $("#navSearch").val(ui.item.label);
      $("#navSearchType").val(ui.item.type);
      return false;
    }
  });
}
  var reqAgg = {{{reqAgg}}};
  barChart('#reqChart', reqAgg, "request id" );
  barChart('#hostChart', {{{host}}}, "host name");
  barChart('#apiChart', {{{api}}}, "api");
  barChart('#serviceChart', {{{service}}}, "service");
  allValues = {{{all}}};
  multiChart('#allChart', allValues);
  autoComplete({{{autoComplete}}});

  $( "#navForm" ).submit(function( event ) {
 
    event.preventDefault();
      
    var $form = $( this ),
    s = $form.find( "input[name='start']" ).val(),
    e = $form.find( "input[name='end']" ).val();
    var options = [];
    var history = $form.find("li");
    if(history){
      for(var i=0;i<history.length;i++){
        var vals = history[i].textContent.split('=');
	options.push({key:vals[0].trim(),val:vals[1].trim()});
      }
    }
    var searchId = $form.find( "input[id='navSearch']" ).val(),
    searchType = $form.find( "input[id='navSearchType']" ).val(),
    url = $form.attr( "action" );
    if(searchId && searchType){
      options.push({key:searchType.trim(),val:searchId.trim()});
    }
    var posting = $.post( url, { startDate: s, endDate:e, options:options } );
    posting.done(function( data ) {
      if(searchType && searchId)
        $("#searchHistory").append('<li>'+searchType +' = '+searchId+'</li>');
      $form.find( "input[id='navSearch']" ).val("");
      $form.find( "input[id='navSearchType']" ).val("");
      reqAgg = JSON.parse(data.reqAgg);
      barChart('#reqChart', reqAgg, "request id" );
      barChart('#hostChart', JSON.parse(data.host), "host name");
      barChart('#apiChart', JSON.parse(data.api), "api");
      barChart('#serviceChart', JSON.parse(data.service), "service");
      allValues = JSON.parse(data.all);
      multiChart('#allChart', allValues);
      autoComplete(JSON.parse(data.autoComplete));
    });
  });

</script>
