<div class="row">
  <div id="reqChart" class="col-md-6">
  <h2> Average response time per request </h2>
  </div>
  <div id="reqChart" class="col-md-6">
  <h2> Average response time per host </h2>
  </div>
</div>
<div class="row">
  <div id="reqChart" class="col-md-6 height500">
    <svg></svg>
  </div>
  <div id="hostChart" class="col-md-6 height500">
    <svg></svg>
  </div>
</div>
<div class="row">
  <div id="reqChart" class="col-md-6">
  <h2> Average response time per api </h2>
  </div>
  <div id="reqChart" class="col-md-6">
  <h2> Average response time per service </h2>
  </div>
</div>
<div class="row">
  <div id="apiChart" class="col-md-6 height500">
    <svg></svg>
  </div>
  <div id="serviceChart" class="col-md-6 height500">
    <svg></svg>
  </div>
</div>

<div class="row">
  <h2> All requests </h2>
  <div id="allChart" class="height500">
    <svg></svg>
  </div>
</div>
<script>


var barChart = function(yAxisLabel, svgDiv, data){
  nv.addGraph(function(){
    var chart = nv.models.multiBarChart()
             .duration(350)
	     .rotateLabels(90)
	     .margin({bottom:200, left: 70})
	     .groupSpacing(0.1)
	     .height(400)
	     ;
    chart.reduceXTicks(false).staggerLabels(true);

    chart.xAxis
         .axisLabelDistance(5)
	 ;

    chart.yAxis
         .axisLabel(yAxisLabel)
	 .axisLabelDistance(5)
	 .tickFormat(d3.format(',.01f'))
	 ;

    d3.select(svgDiv)
      .datum(data)
      .call(chart);

    nv.utils.windowResize(chart.update);
    return chart;

  });
}

  var requestChart = [{
    key: "By Request",
    values: {{{reqAgg}}}
  }];
  barChart("Average Time", '#reqChart svg', requestChart);
  requestChart = [{
    key: "By host",
    values: {{{host}}}
  }];
  barChart("Average Time", '#hostChart svg', requestChart);
  requestChart = [{
    key: "By Api",
    values: {{{api}}}
  }];
  barChart("Average Time", '#apiChart svg', requestChart);
  requestChart = [{
    key: "By Service",
    values: {{{service}}}
  }];
  barChart("Average Time", '#serviceChart svg', requestChart);
  requestChart = [{
    key: "All Requests",
    values: {{{all}}}
  }];
  barChart("Average Time", '#allChart svg', requestChart);
</script>
