<div class="row pad50">
  <div class="col-md-6">
  <h2> Average response time per request </h2>
  </div>
  <div class="col-md-6">
  <h2> Average response time per host </h2>
  </div>
</div>
<div class="row height600">
  <div id="reqChart" class="col-md-6 height500">
  </div>
  <div id="hostChart" class="col-md-6 height500">
  </div>
</div>
<div class="row pad50">
  <div class="col-md-6">
  <h2> Average response time per api </h2>
  </div>
  <div class="col-md-6">
  <h2> Average response time per service </h2>
  </div>
</div>
<div class="row">
  <div id="apiChart" class="col-md-6 height500">
  </div>
  <div id="serviceChart" class="col-md-6 height500">
  </div>
</div>
<div class="row">
  <h2> All requests </h2>
  <div id="allChart" class="height700">
  </div>
</div>
<script>


var barChart = function(svgDiv, data, xLabel){
  var svg = dimple.newSvg(svgDiv, 550, 500);
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,500,250);
  var x = chart.addCategoryAxis("x", "_id");
  var y1 = chart.addMeasureAxis("y", "avgTime");
  var bars = chart.addSeries("Average request time", dimple.plot.bar, [x,y1]);
  bars.barGap = 0.5;
  chart.draw();
  x.titleShape.text(xLabel);
}
var multiChart = function(svgDiv, data){
  var svg = dimple.newSvg(svgDiv, 1200, 600);
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,1000,400);
  var x = chart.addCategoryAxis("x", "time");
  chart.addMeasureAxis("y", "timeElapsed");
  var y2 = chart.addMeasureAxis("y", "memoryUsed");
  var bars = chart.addSeries(["request","api","func","time","hostname","freeMemory","memoryUsed"], dimple.plot.bar);
  var lines = chart.addSeries("Memory Used", dimple.plot.line, [x,y2]);
  lines.lineMarkers = true;
  bars.barGap = 0.5;
  chart.addLegend(60, 5, 680, 10, "right", lines);
  chart.draw();
}

  barChart('#reqChart', {{{reqAgg}}}, "request id" );
  barChart('#hostChart', {{{host}}}, "host name");
  barChart('#apiChart', {{{api}}}, "api");
  barChart('#serviceChart', {{{service}}}, "service");
  var allValues = {{{all}}};
  multiChart('#allChart', allValues);
</script>
