<div class="row">
  <div class="col-md-6">
  <h2> Average response time per request </h2>
  </div>
  <div class="col-md-6">
  <h2> Average response time per host </h2>
  </div>
</div>
<div class="row height600">
  <div id="reqChart" class="col-md-6 height500">
  </div>
  <div id="hostChart" class="col-md-6 height500">
  </div>
</div>
<div class="row pad50">
  <div class="col-md-6">
  <h2> Average response time per api </h2>
  </div>
  <div class="col-md-6">
  <h2> Average response time per service </h2>
  </div>
</div>
<div class="row pad50">
  <div id="apiChart" class="col-md-6 height500">
  </div>
  <div id="serviceChart" class="col-md-6 height500">
  </div>
</div>
<div class="row">
  <h2> All requests </h2>
  <div id="allChart" class="height700">
  </div>
</div>
<script>


var barChart = function(svgDiv, data){
  var svg = dimple.newSvg(svgDiv, 500, 500);
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,300,300);
  var x = chart.addCategoryAxis("x", "_id");
  var y1 = chart.addMeasureAxis("y", "avgTime");
  var bars = chart.addSeries("Average request time", dimple.plot.bar, [x,y1]);
  bars.barGap = 0.5;
  chart.draw();
}
var multiChart = function(svgDiv, data){
  var svg = dimple.newSvg(svgDiv, 800, 400);
  var chart = new dimple.chart(svg, data);
  chart.setBounds(60,20,680,330);
  var x = chart.addCategoryAxis("x", "time");
  var y1 = chart.addMeasureAxis("y", "timeElapsed");
  var y2 = chart.addMeasureAxis("y", "memoryUsed");
  var bars = chart.addSeries("Time taken", dimple.plot.bar, [x,y1]);
  var lines = chart.addSeries("Memory Used", dimple.plot.line, [x,y2]);
  lines.lineMarkers = true;
  bars.barGap = 0.5;
  chart.addLegend(60, 5, 680, 10, "right", lines);
  chart.draw();
}

  barChart('#reqChart', {{{reqAgg}}} );
  barChart('#hostChart', {{{host}}});
  barChart('#apiChart', {{{api}}});
  barChart('#serviceChart', {{{service}}});
  var allValues = {{{all}}};
  multiChart('#allChart', allValues);
</script>
